<h2>input binding</h2>
<app-input-binding-parent></app-input-binding-parent>
<hr />
<h2>setter interation</h2>
<app-setter-inetration-parent></app-setter-inetration-parent>
<hr />
<h2>ngOnChange interation</h2>
<app-ngonchange-inetration-parent></app-ngonchange-inetration-parent>
<hr />
<h2>EventEmitter interation</h2>
<app-eventemitter-parent></app-eventemitter-parent>
<hr />
<h2>Local variable interation</h2>
<app-local-variable-interation-parent></app-local-variable-interation-parent>
<hr />
<h2>@ViewChild interation</h2>
<app-viewchild-interation-parent></app-viewchild-interation-parent>
<hr />
<h2>service interation</h2>
<app-service-interation-parent></app-service-interation-parent>
